h1 {
  color: blue;
}

#container {
  border: 4px solid palegoldenrod;
  border-radius: 20px;
  background-color: palevioletred;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  width: 80%;
  height: auto;
  border: 2px solid paleturquoise;
  border-radius: 12px;
  background-color: palegoldenrod;
  text-align: center;
  color: rgb(50, 50, 50);
}

.button {
  border: 2px solid paleturquoise;
  border-radius: 12px;
  background-color: pink;
  margin: 2px;
}

.operator {
  background-color: lightgreen;
}

.command {
  background-color: rgb(255, 238, 141);
}
